* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #191830;
    --card1-color: #facf29;
    --card2-color: #02ccfc;
    --card3-color: #ff3124;
    --card4-color: #0a2dbb;
    --seconds-color: #f9d426;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.container {
    width: 750px;
    height: 300px;
    padding-inline: 10px;
    /* border: 2px solid black; */
    display: flex;
    /* gap: 20px;    */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 36px;
    /* margin-bottom: 70px; */
    background-color: rgb(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 3px black;
    z-index: 2;
    
}


.clock_hands {
    backdrop-filter: blur(10px);
    
    width: 160px;
    height: 170px;
    /* border: 2px solid black; */
    box-shadow: 0 0 0 2px black;
    /* background-color: transparent; */
    color: white;
    font-size: 7rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

.big_colon {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.small_colon {
    height: 11px;
    width: 11px;
    border-radius: 5.5px;
    background-color: white;
}

.pm {
    height: 80px;
    width: 85px;
    /* border: 2px solid black; */
    margin-left: 10px;
    box-shadow: 0 0 1px 2px black;
    font-size: 2rem;
    font-weight: bold;
    padding: 22px 12px;
    text-align: center;

}

.curve {
    border-radius: 12px;
}

.yellow {
    color: yellow;
}


.left {
    height: 260px;
    width: 260px;
    border-radius: 130px;
    position: relative;
    left: 11%;
    top: 8%;
    background-color: orange;
    animation: oscillation 4s ease-in-out 0.2s infinite alternate;
}

.right {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    position: relative;
    right: 11%;
    bottom: 22%;
    background-color: rgb(75, 167, 210);
    animation: oscillation 4s ease-in-out 0.2s infinite alternate;
}


@keyframes oscillation {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(70px);
    }
}