* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #191830;
    --card1-color: #facf29;
    --card2-color: #02ccfc;
    --card3-color: #ff3124;
    --card4-color: #0a2dbb;
    --seconds-color: #f9d426;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.container {
    width: 750px;
    height: 290px;
    padding-inline: 10px;
    /* border: 2px solid black; */
    display: flex;
    /* gap: 20px;    */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 36px;
    /* margin-bottom: 70px; */

    box-shadow: rgba(0, 0, 0, 0.059) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: rgba(255, 255, 255, 0.06);
    z-index: 2;
    backdrop-filter: blur(30px);
    


}


.clock_hands {
    backdrop-filter: blur(70px);


    width: 160px;
    height: 170px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    /* background-color: transparent; */
    color: white;
    font-size: 7rem;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

.big_colon {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.small_colon {
    height: 11px;
    width: 11px;
    border-radius: 5.5px;
    background-color: white;
}

.pm {
    height: 80px;
    width: 85px;
    /* border: 2px solid black; */
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    backdrop-filter: blur(70px);
    font-size: 2rem;
    font-weight: bold;
    padding: 22px 12px;
    text-align: center;


}

.curve {
    border-radius: 12px;
}

.yellow {
    color: yellow;
}


.left {
    height: 260px;
    width: 260px;
    border-radius: 130px;
    position: relative;
    left: 9.5%;
    top: 14%;
    background: linear-gradient(180deg, #facf29, #ff3124);
    animation: oscillation 4s ease-in-out 0.2s infinite alternate;
}

.right {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    position: relative;
    right: 12%;
    bottom: 22%;
    background: linear-gradient(180deg, #02ccfc, #0a2dbb);
    animation: oscillation 4s ease-in-out 0.2s infinite alternate;
}


@keyframes oscillation {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(70px);
    }
}



/* *MEDIA QUERIES */

@media screen and (max-width: 1360px) {
    .left {
        height: 220px;
        width: 220px;
        border-radius: 110px;
        position: relative;
        left: 9.5%;
        top: 9%;
    }

    .right {
        height: 260px;
        width: 260px;
        border-radius: 130px;
        position: relative;
        right: 12%;
        bottom: 18%;

    }
}

@media screen and (max-width: 1200px) {
    .left {
        /* position: relative; */
        /* position: absolute; */
        height: 220px;
        width: 220px;
        border-radius: 110px;

        margin-left: 10px;
        left: 100px;
        top: 340px;

    }

    .right {
        height: 260px;
        width: 260px;
        border-radius: 130px;

        right: 130px;
        bottom: 400px;
        margin-right: 10px;

    }

    .container {
        height: 800px;
        width: 250px;
        padding-inline: 10px;
        /* border: 2px solid black; */
        transition: 1s ease-in-out;
        display: flex;
        flex-direction: column;
        /* gap: 20px;    */
        justify-content: space-evenly;
        align-items: center;
        border-radius: 36px;
        /* margin-bottom: 70px; */

        box-shadow: rgba(0, 0, 0, 0.059) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        background-color: rgba(255, 255, 255, 0.06);
        z-index: 2;
        backdrop-filter: blur(30px);
        


    }

    .big_colon {
        display: none;
    }

    





}

@media screen and (max-width: 800px) {
    .left {
        display: none;

    }

    .right {
        display: none;

    }






}